*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
}
body{
    size: 15px;
background-image: url("");
background-size: cover;
}   

input{
border-radius:0.5rem;
padding:0.8rem;
text-decoration: black;
background: #b6dbff;
}