.mySlides {
  /* padding-top: 130px;
  padding-left: 275px; */
  width: 100%;
  border-top: 0cm;
}
.menu {
  display: block;
  padding: 12px 20px;
  border: 1px solid transparent;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  -webkit-transition: opacity 300ms ease;
  -moz-transition: opacity 300ms ease;
  -ms-transition: opacity 300ms ease;
  transition: opacity 300ms ease;

  position: absolute;
  top: 3%;
  border-color: white;
  background: transparent;
  color: white;
  font-family: montserrat, sans-serif;
  opacity: 100%;
  font-weight: 4px;
}
.menu:hover {
  opacity: 70%;
  color: white;
}
